## Ignore temporary files and folders, build results, and backup files.

# Ignore files not ready for publishing
GitHub_Action_Docs.md

# User-specific files and folders
archive/
temp/
run.ps1

# Ignore CheatSheet and reading list files
# Root Level Files
*.readinglist.md
*.cheatsheet.md
*_cheatsheet.md
reflog.md

# Ignore build output directories
/dist/
/bin/

# Ignore temporary files
*.tmp
*.log

# Ignore personal configuration files
*.ps1rc
.vscode/

# Ignore IDE-specific files
.vs/
# .vscode/

# Ignore test results
TestResults/
coverage.xml

# Ignore package files
*.nupkg
*.zip

# Ignore PowerShell module directories
Modules/

# Ignore other common files and directories
*.pdb
*.dll
*.exe
*.cache
*.bak
*.swp
*.swo
*.log
*.tmp
*.old

# SQL Server files
*.mdf
*.ldf
*.ndf

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

